body {
	padding-top: 60px;
}

.container img {
	margin-top: 25px;
	margin-bottom: 25px;
}

.main-block {
	border-radius: 10px;
	overflow: hidden;
}

.header {
	font-size: 18px;
	color: #fff;
	padding: 15px;
	background-color: #ff8663;
}

.glyphicon-remove {
	cursor: pointer;
}

.search {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f0f0f0;
}

.first-search-collumn {
	margin-right: 5px;
}

.second-search-collumn {
	margin-right: 10px;
}

.container-input1 {
	padding-left: 0px;
	padding-right: 10px;
}

.container-input2 {
	padding-left: 10px;
	padding-right: 0px;	
}

.first-search-collumn, .second-search-collumn {
	width: 100%;
}

.first-search-collumn {
	padding-left: 30px;
}

.search input {
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 20px;

}

.first-search-collumn {
	background-image: url('img/musica-searcher.png');
	background-repeat: no-repeat;
	background-position: 8px 6px;
}

.header-friends-list {
	font-weight: bold;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
}

.all-friends-block, .choosed-friends-block {
	padding-top: 15px;
}

.all-friends-block {
	padding-left: 0;
	border-right: 1px solid #f0f0f0;
}

div[class^="friends-list-"] {
	overflow: auto;
	height: 342px;
}

.container-save {
	padding: 10px;
	background-color: #f0f0f0;
}

.btn-warning {
	background-color: #ff8663;
	border-radius: 10px;
	border: none;
}

#ulList {
	padding: 0;
}

.all-friends-block .frindInfo {
	display: block;
}

.choosed-friends-block .frindInfo {
	display: none;
}

.frindInfo {
	border-bottom: 1px solid #f0f0f0;
	height: 57px;
	overflow: hidden;
}

.frindInfo img {
	margin: 3px 10px 0 0;
}

.frindInfo:hover {
	background-color: #f0f0f0;
}

.name {
	font-weight: bold;
	line-height: 57px;
}

.add-delete {
	line-height: 57px;
	color: #9e9e9e;	
}

.friends-list-first .add-delete {
	transform: rotate(45deg);
}
